accelerate
aiohttp
altair
anyio
argon2-cffi
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
cachetools
catalogue
certifi
cffi
charset-normalizer
click
contourpy
cycler
datasets==3.0.0
dill
en-core-web-sm==3.5.0
fastjsonschema
filelock
fonttools
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface_hub
idna
ipykernel
ipython
ipywidgets
jinja2
joblib
jsonschema
kiwisolver
langcodes
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
pandas
preshed
protobuf==4.25.3
pydantic
pydeck
PySocks
python-dateutil
pytz
regex
requests
rich
scikit-learn
scipy
seaborn
six
soupsieve
spacy==3.5.0
spacy-legacy
thinc
threadpoolctl
tqdm
transformers
typing_extensions
urllib3
wasabi
